<app-navbar [save]="save" [goBack]="goBack">
</app-navbar>

<div id="test-swipe-2" class="col s12 grey lighten-2">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <span class="card-title"><b style="margin-left: 1em;">Datos de los Clientes</b></span>

        <div class="card-content">
           <table *ngIf="data_" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>No. de Folio</th>
                <th>Nombre</th>
                <!-- <th>Teléfono</th>
                <th>Fecha</th>
                <th>Marca - Modelo</th> -->
                <th>Ver/Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of Form;let i=index; ">
                <td>{{form.orden}}</td>
                <td>{{form.nombre}}</td>
                <!-- <td>{{form.tel}}</td>
                <td>{{form.fecha}}</td>
                <td>{{form.marca}} - {{form.modelo}}</td> -->
                <td>
                  <a [routerLink]="['/cliente/', form.$key]" class="btn-floating btn-small waves-effect waves-light teal">+</a>
                </td>
                <!-- <td *ngIf="form.idioma=='ingles'">
                  <a [routerLink]="['/edit-en/', form.$key]" class="btn-floating btn-small waves-effect waves-light teal">+</a>
                </td> -->
                <!-- <td>
                  <a (click)="deleteForm(form)" class="btn-floating btn-small waves-effect waves-light red">X</a>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




